body,
html {
    width: 100%;
    height: 100%
}

/* Only apply to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600; /* make it bold for strong headings */
  line-height: 1.3; /* good readability */
}

h6 {
    font-weight: 300;
    line-height: 1.1
}

h1 {
    font-size: 2.4em
}

h2 {
    font-size: 2em
}

h3 {
    font-size: 1.6em
}

h4 {
    font-size: 1.36em
}

h5 {
    font-size: 1.2em
}

h6 {
    font-size: 1.1em
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #242121;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    line-height: 1.7em
}

a {
    color: #333;
    text-decoration: none
}

a:hover {
    color: #258fb8
}

hr {
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
    margin-top: 15px;
    margin-bottom: 30px;
}

img {
    max-width: 100%
}

aside {
  background-color: #0d1b2a;
  background-image: 
    linear-gradient(to right, rgba(0, 212, 255, 0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 212, 255, 0.08) 1px, transparent 1px);
  background-size: 40px 40px;
  animation: moveGrid 3s linear infinite;
}

aside,
aside a {
    color: #fff
}

aside a:hover {
    color: #258fb8
}

aside div {
    padding: 20px;
    margin: 0
}

aside div img {
     border: 2px solid #00d4ff;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 212, 255, 0.6);
  transition: transform 0.3s ease;
    max-width: 140px
}

aside div h1 {
    margin: 15px 0 5px;
    font-size: 1.4rem;
    line-height: 1.2em;
}

.title{
    font-size: 0.95rem;
  color: #a9bcd0;
  margin-bottom: 0.5rem;
}
.tagline {
  font-size: 0.85rem;
  color: #a9bcd0;
  /* font-style: italic; */
  margin-bottom: 1.5rem;
}

aside div p {
    margin: 0 0 15px;
    font-size: .92em
}

aside nav ul li {
    display: inline;
    line-height: 1.6em;
    font-size: 1em;
    text-transform: uppercase;
}

main nav {
    text-align: center;
    text-transform: uppercase;
    padding: 14px 0;
    border-bottom: 1px solid #eee;
    font-size: 0
}

main .translations a,
main nav a {
    font-size: 12px;
    padding: 0 4px;
    border-right: 1px solid #eee
}

main .translations :last-child,
main nav :last-child {
    border-right: none
}

main .neighbors {
    margin: 4% 0;
    height: 20px
}

main .pagination {
    margin: 4% 8%;
    height: 20px
}

main .social-share p {
    font-size: .8em
}

main article {
    margin: 0 8% 2%
}

main article header h1,
main article header h2 {
    margin-bottom: 0
}

main article header p {
    color: #999;
    font-size: .86em
}
main article a {
    color: #258fb8;
    text-decoration: none;
}
/* For article titles */
.article-title {
  color: #333; 
}

.article-title:hover {
  color: #258fb8; 
}
main article header .translations {
    float: right
}

main article header .translations .active {
    font-weight: 600
}

main article code,
main article kbd,
main article pre,
main article samp {
    font-family: Source Code Pro, Consolas, Liberation Mono, DejaVu Sans Mono, monospace
}

main article blockquote,
main article pre {
    background-color: hsla(0, 0%, 50%, .05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 8px solid hsla(0, 0%, 50%, .075);
    border-left-width: 10px
}

main article blockquote {
    margin: 0;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 1.1em
}

main article pre {
    padding: 4px;
    font-size: .9em;
    overflow-x: auto
}

main article samp {
    white-space: pre;
    display: block;
    overflow-x: auto
}

main article kbd {
    padding: .1em .6em;
    border: 1px solid rgba(63, 63, 63, .25);
    box-shadow: 0 1px 0 rgba(63, 63, 63, .25);
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    display: inline-block;
    margin: 0 .1em;
    white-space: nowrap;
    font-size: .78em
}

main article :not(pre)>code {
    font-size: .8em;
    white-space: nowrap;
    color: #c25;
    padding: 1px 3px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px
}

main article .comment-count {
    font-size: .8em
}

main article table {
    border-collapse: collapse;
    border-spacing: 0
}

main article table thead:first-child tr:first-child th {
    border-top: 0
}

main article table td,
main article table th {
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
    border-top: 1px solid #ddd
}

main article table.highlighttable {
    width: 100%;
    table-layout: fixed
}

main article table.highlighttable td {
    border-style: none;
    padding: 0
}

main article table.highlighttable td.linenos {
    width: 2.5em
}

main article table.highlighttable td.linenos pre {
    padding-right: .8em;
    background-color: inherit;
    text-align: right
}

main article section#isso-thread .auth-section .input-wrapper {
    margin-right: 5px
}



main article .toc .toctitle {
    font-size: 1.3em
}

main article .toc ul {
    list-style: none;
    padding-inline-start: 1rem
}

main article .toc>ul {
    padding: 0
}

main footer {
    padding-top: 4px;
    border-top: 1px solid #eee
}

main footer p {
    margin: 2px;
    text-align: center;
    padding: 0 40px;
    color: #999;
    font-size: 11px
}

main footer span.footer-separator {
    margin: 0 6px
}

.tag-cloud a {
    background-color: #6a6a6a;
    padding: .2em .6em;
    font-size: .74em;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.tag-cloud a:hover {
    background-color: #ff5a09
}
a.btn{display: none;}
a.btn,
section#isso-thread section.auth-section p.post-action input {
    background-color: #d9411e;
    padding: .6em;
    font-size: .8em;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: none;
    border-radius: .25em
}

a.btn:hover {
    background-color: #ff5a09
}

.center,
.text-center {
    text-align: center
}

.align-center,
.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.float-left {
    float: left
}

.float-right {
    float: right
}

div.related-posts {
    margin: 15px 0;
    padding-bottom: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee
}

div.related-posts h4 {
    margin: 20px 0 25px
}

div.related-posts ul {
    font-size: 1.1em;
    padding-left: 12px
}

div.related-posts ul li {
    padding: 4px 0
}

ul.list,
ul.related-posts,
ul.social {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul.list {
    padding: 2em 0
}

ul.list li {
    padding: 4px
}

ul.social {
    font-size: 1.6em;
    padding-top: 20px
}

ul.social li {
    display: inline
}

ul.social a:hover {
    z-index: 1;
    transform: translateY(-2px)
}

ul.social a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    font-size: .8em;
    line-height: 36px
}

ul.social a.sc-facebook {
    background-color: #3e5b98
}

ul.social a.sc-google {
    background-color: #d93e2d
}

ul.social a.sc-instagram {
    background-color: #125688
}

ul.social a.sc-keybase {
    background-color: #4c8dff
}

ul.social a.sc-pinterest {
    background-color: #c92619
}

ul.social a.sc-linkedin {
    background-color: #3371b7
}

ul.social a.sc-medium {
    background-color: #00ab6b
}

ul.social a.sc-rss {
    background-color: #f26109
}

ul.social a.sc-stack-overflow {
    background-color: #f90
}

ul.social a.sc-tumblr {
    background-color: #36465d
}

ul.social a.sc-twitch {
    background-color: #a970ff
}

ul.social a.sc-twitter {
    background-color: #4da7de
}

ul.social a.sc-youtube {
    background-color: #e02a20
}

ul.social a.sc-github,
ul.social a.sc-github-alt {
    background-color: #111010
}

ul.social a.sc-at,
ul.social a.sc-envelope,
ul.social a.sc-mailbox {
    background-color: #578ad6
}

ul.social a.sc-reddit {
    background-color: #ff4500
}

ul.social a.sc-soundcloud {
    background-color: #f50
}

ul.social a.sc-gitlab {
    background-color: #fca326
}

ul.social a.sc-xing {
    background-color: #007575
}

ul.social a.sc-bitbucket {
    background-color: #0747a6
}

ul.social a.sc-mastodon {
    background-color: #3088d4
}

ul.social a.sc-diaspora {
    color: #000;
    background-color: #d5d5d5
}

ul.social a.sc-flickr {
    background-color: #ff0084
}

ul.social a.sc-lastfm {
    background-color: #d92323
}

.ads-aside {
    display: inline-block;
    height: 90px;
    width: 70%
}

.ads-responsive {
    display: inline-block;
    margin: 6px 0;
    width: 90%;
    height: 70px;
    margin-left: 5%
}

@media screen and (min-width:768px) {
    aside {
        width: 20vw;
        height: 100vh;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0
    }

    aside div {
        padding: 36px 18px
    }

    aside div nav ul li {
        padding: 0 !important;
        display: block
    }

    aside div ul.social {
        padding-top: 3px
    }

    main {
        height: 100vh;
        position: relative;
        padding-left: 16vw
    }

    main article {
        max-width: 760px
    }

    main article ul.list li {
        padding: 2px
    }

    .ads-aside {
        height: 250px
    }

    .ads-responsive {
        height: 90px
    }
}

div.admonition {
    margin-bottom: 2.5rem;
    border-radius: 4px;
    padding: .5em 1.25em 1.25em
}

div.admonition p.admonition-title:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: FontAwesome;
}

div.admonition p.admonition-title {
    font-weight: 600;
    line-height: 1.25em;
    margin-bottom: 1.25em;
    margin-top: inherit
}

div.admonition div,
div.admonition p,
div.admonition pre {
    margin-bottom: 0
}

div.admonition {
    color: #242121;
    background-color: #ccc
}

div.admonition.attention {
    background-color: #fff7ed;           
    border-left: 4px solid #f97316;     
    color: #7c2d12;                      
}

div.admonition.attention p.admonition-title:before {
    color: #fb923c;
    content: "\f06a\00a0 ";              /* exclamation-circle icon */
    font-family: "Font Awesome 5 Free";
}

div.admonition.caution {
    background-color: #fef9c3;
    border-left: 4px solid #eab308;
    color: #78350f;
}

div.admonition.caution p.admonition-title:before {
    color: #facc15;
    content: "\f071\00a0 ";              /* exclamation-triangle icon */
    font-family: "Font Awesome 5 Free";
}

div.admonition.danger {
    background-color: #fee2e2;
    border-left: 4px solid #ef4444;
    color: #7f1d1d;
}

div.admonition.danger p.admonition-title:before {
    color: #f87171;
    content: "\f06a\00a0 ";              /* exclamation-circle icon */
    font-family: "Font Awesome 5 Free";
}

div.admonition.error {
    background-color: #fee2e2;
    border-left: 4px solid #dc2626;
    color: #7f1d1d;
}

div.admonition.error p.admonition-title:before {
    color: #ef4444;
    content: "\f057\00a0 ";              /* times-circle icon */
    font-family: "Font Awesome 5 Free";
}

div.admonition.hint {
    background-color: #e0f2fe;
    border-left: 4px solid #0284c7;
    color: #0c4a6e;
}

div.admonition.hint p.admonition-title:before {
    color: #38bdf8;
    content: "\f0eb\00a0 ";              /* lightbulb icon */
    font-family: "Font Awesome 5 Free";
}

div.admonition.important {
    background-color: #fef2f2;
    border-left: 4px solid #e11d48;
    color: #9f1239;
}

div.admonition.important p.admonition-title:before {
    color: #fb7185;
    content: "\f06a\00a0 ";              /* exclamation-circle icon */
    font-family: "Font Awesome 5 Free";
}

div.admonition.note {
    background-color: #e0f2fe;
    border-left: 4px solid #0284c7;
    color: #0c4a6e;
}

div.admonition.note p.admonition-title:before {
    color: #38bdf8;
    content: "\f05a\00a0 ";              /* info-circle icon */
    font-family: "Font Awesome 5 Free";
}

div.admonition.tip {
    background-color: #ecfdf5;
    border-left: 4px solid #10b981;
    color: #065f46;
}

div.admonition.tip p.admonition-title:before {
    color: #34d399;
    content: "\f024\00a0 ";
    font-family: Font Awesome\ 5 Free
}

div.admonition.warning {
    background-color: #fef9c3;
    border-left: 4px solid #eab308;
    color: #78350f;
}

div.admonition.warning p.admonition-title:before {
    color: #facc15;
    content: "\f071\00a0 ";              /* exclamation-triangle icon */
    font-family: "Font Awesome 5 Free";
}

div.admonition.todo {
    background-color: #f3f4f6;
    border-left: 4px solid #6b7280;
    color: #374151;
}
div.admonition.todo p.admonition-title:before {
    color: #9ca3af;
    content: "\f0ae\00a0 ";              /* tasks icon */
    font-family: "Font Awesome 5 Free";
}

div.admonition.seealso {
    background-color: #ede9fe;
    border-left: 4px solid #8b5cf6;
    color: #4c1d95;
}

div.admonition.seealso p.admonition-title:before {
    color: #a78bfa;
    content: "\f0c1\00a0 ";              /* link icon */
    font-family: "Font Awesome 5 Free";
}

div.figure,
figure {
    font-size: 90%;
    color: #6c757d
}

div.figure figcaption,
figure figcaption {
    margin-top: .5em;
    text-align: center;
    color: #242121
}

div.figure img,
figure img {
    vertical-align: middle;
    line-height: 1;
    display: inline
}

div.figure p,
figure p {
    margin-top: 0;
    margin-bottom: 0
}

div.figure p.caption,
figure p.caption {
    font-style: italic
}

div.figure div.legend,
figure div.legend {
    text-align: initial
}

div.figure.align-left,
figure.align-left {
    text-align: left
}

div.figure.align-center,
figure.align-center {
    text-align: center
}

div.figure.align-right,
figure.align-right {
    text-align: right
}

.github-corner:hover .octo-arm {
    animation: a .56s ease-in-out
}

@keyframes a {

    0%,
    to {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@keyframes moveGrid {
  from { background-position: 0 0; }
  to { background-position: 40px 40px; }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: a .56s ease-in-out
    }
}
.social a, /*to make all icons white*/
.social a i,
.social a svg {
    color: white !important;
    background: none !important; /* remove background circles if any */
}

.highlight-name {
    color: #ff9800;        /* highlight color */
    font-weight: 700;      /* make bolder */
    font-size: 16px;       /* slightly bigger than the rest */
}
@media(min-width: 1322px)
{
    main article .toc {
    margin-top: -6em
}
.toc {
    position: fixed;
    right: 20px;
    top: 100px;
    width: 250px;
    font-size: 14px;
    line-height: 1.6em;
}

.toc ul {
    list-style: none;
    padding-left: 0;
}

.toc a {
    text-decoration: none;
    color: #555;
}

.toc a:hover {
    color: #258fb8;
}
}
/* Prevent horizontal white space */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.toc a.active {
    font-weight: bold;
    color: #007acc;   /* highlight color */
    border-left: 3px solid #007acc;
    padding-left: 5px;
    transition: all 0.2s ease-in-out;
}
.permalink {
  visibility: hidden;     /* hidden initially */
  margin-left: 8px;
  text-decoration: none;
  opacity: 0.5;
  font-size: 0.9em;
}

:where(h2, h3, h4, h5, h6):hover .permalink {
  visibility: visible;
}

.permalink:hover {
  opacity: 1;
  color: #007acc;
}

.contact-form {
  max-width: 500px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  display: block;
  padding-left: 8px;
}

.contact-form input,
.contact-form textarea {
  font-family: inherit;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 13px;
  color: #242121;
  padding: 8px 8px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-width: 2px;
  border-color: #cdcdcd;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.contact-form textarea {
  resize: vertical;
  min-height: 80px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
}

.contact-form button.submit-btn {
  margin-top: 10px;
  background: #111;
  color: #fff;
  border: 2px solid transparent;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 13px;
  position: relative;
  transition: all 0.3s ease;
}

.contact-form button.submit-btn:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0 6px #ff5f6d, 0 0 9px #ffc371, 0 0 15px #00c3ff;
}
